body {
	margin-top:50px;
}

.board-container {
	display:block;
	width:450px;
	margin: 0 auto;

}

.col-xs-4 {
	border:1px solid black;
	/*height:150px;
	width:150px;*/
	padding:0px;
	margin: 0 auto;

}

.tile-inner {
	background:white;
	height:150px;
	width:100%;
}

.blue {
	background-color:blue;
}

.red {
	background-color:red;
}

.row {
	display:block;
	margin: 0 auto;
}
